# Node
node_modules/

# Build Vite
dist/

# Capacitor / Android
android/
ios/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment
.env
.env.local
.env.*.local

# Misc
coverage/